/****************************************************************************************
 * Core paradoxpdf export CSS File
 * Author : Mohamed Karnichi <www.tricinty.com>
 ****************************************************************************************/

/* Control page rendring: please refer to doc/doc.txt */
@page {
    size: a3 portrait;
    margin: 0.25in;
    padding: 1em;
    /*@top-left {
       content: element(header);
    }
     @bottom-right {
        content: element(footer);
      }*/
}

/*header as footer will automatically icluded in each pdf printed page
#header {
       display: block;
       padding : 3px;
       position: running(header);
       background : purple;
       color : #FFFFFF;
   }
 #footer {
      display: block;
      border-top: 1px solid black;
      position: running(footer);

    }

#pagenumber:before {
    content: counter(page);
}

#pagecount:before {
    content: counter(pages);
}
*/
/* Used for generating Table of content */
/*#toc a::after { content: leader('.') target-counter(attr(href), page); }*/
/* Use this class for first level titles */
/*.page_break_before{ page-break-before: always; }*/

/* Use this class for forcing page break inside pdf */
.page_breaker{page-break-after:always;}


